:root {
  --logo-color: #000000;
  --text-color: #757575;
  --header-menu-color: #212121;
  --menu-active-color: #2196f3;
  --hero-button-color: #ffffff;
  --team-color: #f5f4fa;
  --footer-backgraund: #2f303a;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --developer-color: rgba(255, 255, 255, 0.4);
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: var(--hero-button-color);
}

a {
  text-decoration: none;
  color: var(--header-menu-color);
}

ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

figure,
p {
  margin: 0;
}

.imgblock {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;
}

.container h2 {
  margin-bottom: 50px;
}

.sectoin-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--header-menu-color);
  text-align: center;
}

.logo {
  margin-top: 24px;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo-blue {
  color: var(--menu-active-color);
}

.header-section {
  background-color: var(--hero-button-color);
  border-bottom: 1px solid #ececec;
}

.header-section .container {
  padding-top: 0;
  margin-bottom: 0;
}

.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--header-menu-color);
}

.nav-list-site li:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  fill: var(--text-color);
}

.nav-list-site .nav-link {
  display: block;
  padding-top: 33px;
  padding-bottom: 31px;
}

.nav-link:hover, .nav-link:focus {
  color: var(--menu-active-color);
  fill: var(--menu-active-color);
}

.nav-link.current {
  position: relative;
  color: var(--menu-active-color);
}

.line {
  position: relative;
}

.line-link {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--menu-active-color);
}

.nav-list-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.nav-list-contacts li + li {
  margin-left: 30px;
}

.icon-address {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-position: 0 center;
}

.icon {
  margin-right: 10px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--hero-button-color);
  background-color: var(--menu-active-color);
  outline: none;
}

.hero .button,
.modal .button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form .button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 27px;
  padding-right: 27px;
  border: none;
}

.filters .button {
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: var(--header-menu-color);
  background-color: var(--hero-button-color);
  padding: 6px 22px;
}

.button-icon {
  margin-left: 8px;
  vertical-align: middle;
}

.filters-item.button:hover,
.filters-item.button:focus {
  color: var(--hero-button-color);
  background-color: var(--menu-active-color);
}

.hero {
  height: 600px;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-button-color);
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding-top: 47px;
  padding-right: 40px;
  padding-bottom: 33px;
  padding-left: 40px;
  display: block;
  text-align: start;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-menu-color);
  padding-bottom: 33px;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--hero-button-color);
  fill: var(--header-menu-color);
  background-repeat: no-repeat;
  background-size: cover;
}

.close-modal:focus {
  outline: none;
}

.icon-close:hover {
  fill: var(--menu-active-color);
}

.form-fild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form-fild:last-child {
  padding-bottom: 20px;
}

.form-fild input {
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  background-color: var(--hero-button-color);
}

.form-fild textarea {
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.form-fild input:focus,
.form-fild textarea:focus {
  outline: none;
  border-color: var(--menu-active-color);
}

form input:not(:placeholder-shown) ~ label,
textarea:not(:placeholder-shown) ~ label {
  color: var(--menu-active-color);
  -webkit-transform: translateY(-19px);
          transform: translateY(-19px);
  left: 16px;
  background-color: var(--hero-button-color);
}

.form-fild > label {
  position: absolute;
  margin-left: 42px;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

.form-fild > label {
  position: absolute;
  margin-left: 42px;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

.form-fild:hover label,
.form-fild:focus-within label {
  color: var(--menu-active-color);
  -webkit-transform: translateY(-19px);
          transform: translateY(-19px);
  left: 16px;
}

.form-fild svg {
  position: absolute;
  margin-left: 16px;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

.form-fild:hover svg,
.form-fild:focus-within > svg {
  fill: var(--menu-active-color);
}

.checkbox {
  position: relative;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-label {
  margin-left: 36px;
}

.check-icon {
  position: absolute;
  top: 4px;
  left: 12px;
  width: 16px;
  height: 15px;
  /* background-image: url(../images/sprite.svg#icon-Vector); */
  background-image: url(../images/Vector.svg);
  fill: var(--header-menu-color);
  background-repeat: no-repeat;
  background-size: contain;
}

.check-input:checked + .check-icon {
  /* background-image: url(../images/sprite.svg#icon-Vector-active); */
  background-image: url(../images/Vector-active.svg);
  background-color: var(--menu-active-color);
}

.link-agreement {
  text-decoration: underline;
  color: var(--menu-active-color);
}

.modal .button {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}

.img-feature {
  margin-bottom: 30px;
}

.icon-features {
  display: block;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.icon-position {
  width: 70px;
  height: 70px;
}

.features-item-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-menu-color);
  margin-bottom: 10px;
}

.features-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.feature-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-flex li {
  max-width: 270px;
}

.feature-flex li:not(:last-child) {
  margin-right: 30px;
}

.we_make-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .we_make-flex {
  padding-bottom: 94px;
}

.we_make-flex li {
  max-width: 370px;
}

.we_make-flex li:not(:last-child) {
  margin-right: 30px;
}

.we_make-item {
  position: relative;
}

.we_make-signature {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.we_make-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-button-color);
}

.messengers-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
}

.messenger-item .icon {
  margin-right: 0;
  width: 20px;
  height: 20px;
}

.messenger-item:not(:last-child) {
  margin-right: 10px;
}

.footer .messenger-item > a {
  fill: var(--hero-button-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.messenger-item a {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}

.messenger-item a:hover, .messenger-item a:focus {
  background-color: var(--menu-active-color);
  border-radius: 50%;
  fill: var(--hero-button-color);
}

.team {
  background-color: var(--team-color);
}

.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-flex li > div {
  max-width: 270px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.card-shadow {
  background: var(--hero-button-color);
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-header {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-menu-color);
}

.team-profetion {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.customers.container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customers-flex li:not(:last-child) {
  margin-right: 30px;
}

.customers-block {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
}

.customers-block:hover, .customers-block:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer {
  background-color: var(--footer-backgraund);
}

.footer .container {
  padding-top: 0;
}

.footer .logo {
  display: block;
  margin-top: 45px;
  margin-bottom: 8px;
  color: var(--hero-button-color);
}

.footer b {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-button-color);
  display: block;
  margin-bottom: 20px;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 28px;
}

.footer-address {
  margin-right: 69px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--hero-button-color);
}

.footer-contact {
  color: var(--footer-address-color);
}

.form {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
}

.form input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--footer-backgraund);
}

.form input:focus {
  outline: none;
}

.form input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form input::placeholder {
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.developed {
  padding-top: 18px;
  padding-bottom: 21px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--developer-color);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
}

.filters-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-item .button {
  color: var(--header-menu-color);
  background-color: var(--team-color);
}

.filters-item .current.button {
  color: var(--hero-button-color);
  background-color: var(--menu-active-color);
}

.list-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-project li:not(:nth-child(3n)) {
  margin-right: 30px;
}

.list-project li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.card-description {
  background: var(--hero-button-color);
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.card-linc {
  display: inline-block;
  content: "";
  overflow: hidden;
}

.card-linc:hover, .card-linc:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.position-text {
  position: relative;
}

.text {
  position: absolute;
  top: 0;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--hero-button-color);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-linc:hover .text,
.card-linc:focus .text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-item-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--header-menu-color);
  padding-bottom: 4px;
}
/*# sourceMappingURL=main.css.map */